* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f2f5;
}

.container{
    display: flex;
    margin: 90px auto;
    max-width: 1280px;
}
.logo {
  cursor: pointer;
  margin: 20px 0;
  text-align: center;
}
.logo img {
  max-width: 250px;
  width: 100%;
}

.box-login h3 {
  text-align: center;
  font-weight: 400;
  font-size: 29px;
  padding-bottom: 30px;
}

.box-login-users {
  display: flex;
  max-width: 500px;
  margin: 10px auto;
}

.box-login-users-single {
  position: relative;
  width: 31%;
  margin-right: 2%;
  cursor: pointer;
}

.box-login-close {
  position: absolute;
  left: 3px;
  top: 3px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 14px;
}
.box-login-users-single img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
}
.box-login-users-single p {
  width: 100%;
  text-align: center;
  color: #000;
  background-color: rgba(240, 230, 230, 0.835);
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.box-login-close span {
  text-align: center;
  background-color: rgb(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  display: inline-block;
  color: rgb(255, 255, 255);
  border-radius: 14px;
  font-size: 14px;
}
.box-login-newaccount {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.box-login-users-single .box-login-newaccount {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  height: 42px;
  width: 42px;
  border-radius: 30px;
  margin: 42px auto;
  font-size: 40px;
  color: #fff;
  background-color: rgb(36, 110, 228);
  text-align: center;
}

.box-login-users-single:hover .box-login-close {
  transform: scale(1.5, 1.5);
  background-color: rgba(255, 255, 255);
}

.box-login-users-single:hover .box-login-close span {
  color: #919191;
  transform: scale(1, 1);
}
.newaccount {
  color: rgba(36, 110, 228);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.box-form {
  margin: 40px auto;
  max-width: 400px;
  background-color: #f0f2f5;
  border-radius: 10px;
  padding: 30px;
}
.box-form input[type="email"],
.box-form input[type="password"]{
  width: 100%;
  height: 50px;
  border:none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 0 10px;
  color: #000;
  
}

.box-form input[type="submit"] {
  background-color: #1877f2;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.box-form input[type="submit"]:hover {
  background-color: #1068db;
  transition-duration: 500ms;
}

a.esqueceu-senha {
  display: block;
  text-align: center;
  font-size: 15px;
  margin: 20px 0;
  color: #1877f2;
  text-decoration: none;
}
.esqueceu-senha:hover {
    text-decoration:underline;

}

a.criar-conta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background-color: rgb(6, 182, 6);
  color: #fff;
  width: 53%;
  height: 50px;
  font-weight: 600;
  font-size: 19px;
  border: none;
  border-radius: 7px;
  margin: 10px auto;
}
a.criar-conta-empresa{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 15;
  margin: 20px auto;
  color: #000;
  font-weight: 800;
  text-decoration: none;
}

a.criar-conta-empresa:hover{
    text-decoration: underline;
}
.paragrafo{
  display: flex;
  justify-content:space-around ;
  text-align: center;
  font-size: 15px;
  margin: 20px auto;
  color: #000;
  
    
   
}
.criar-conta:hover {
  background-color: rgb(15, 158, 15);
  transition-duration: 500ms;
}

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
}
